#firstRow{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}
#unique{
  color: #3a3943;
  font-size: 40px;
  text-align: center;
  background-color: white;
  width: 37%
}

#topline1,#bottomline1{
  border: 1px solid #daa520;
  display: block;
  width: 11rem;
}

#topline1{
 margin: 8rem 0 5rem 10rem;
}

#bottomline1{
  margin: 5rem 0 8rem 32rem;
}

#luxury{
  padding-top: 5rem;
  text-align: center;
  background-color: #3a3943;
  color: white;
  width: 63%;
}

#luxurytitle{
  font-size: 40px;
}

#middleline{
  border: 1px solid #daa520;
  display: block;
  width: 11rem;
  margin: 3rem 0 5rem 40rem;
}

#apartments{
  font-size: 22px;
}

#floorplans{
  margin: 3rem 0 5rem 0;
}

#floorplans>a{
  color: white;
}

#floorplans>a>span{
  font-size: 20px;
}

#floorplans i{
  position: relative;
  top: 6px;
  left: 10px;
  font-size: 40px;
}

#floorplans>a:hover{
  text-decoration: none;
  color: #daa520;
}
