/*modal styling*/
#contactModal .modal-content{
  background-color: white;
  border: none;
  border-radius: 0;
}

.modal-title{
  text-align: center;
  color: #3a3943;
}

.modal-body{
  border-top: 1px solid #daa520;
  border-bottom: 1px solid #daa520;
  text-align: center;
  color: #3a3943;
  font-size: 15px;
}

#closecontactModal{
    border: white;
    border-radius: 0;
    background: #3a3943;
    color: white;
    border: none;
    font-size: 13px;
    width: 10rem;
    text-shadow: none;

}
