/*navBar styling*/
#navBar{
  color: #3a3943;
  color: black;
  display: flex;
  position: fixed;
  top: 0;
  height: 9.5rem;
  width: 100%;
  background-color: white;
  z-index: 90;
  border-radius: 0;
  text-align: center;
}


#sideNavbutton{
  color: #3a3943;
  display: flex;
  margin-top: 0;
  height: 100%;
  width: 10%;
}

#sideNavbutton:hover{
  cursor: pointer;
  cursor: hand;
}

#sideNavbutton:hover #hamburger, #sideNavbutton:hover #hamburger span{
   border-color: #daa520;
}

#sideNavbutton:hover #menuClick{
  color: #daa520;
}


#hamburger{
   color: #3a3943;
   display: inline-block;
   border: 1px solid #3a3943;
   padding: .5rem .6rem 2.3rem 0;
   margin-top: 2.3rem;
   margin-left: -.1rem;
   height: 5rem;
   width: 5rem;
}

#hamburger span{
  display: block;
  height: 1px;
  margin-top: .85rem;
  margin-bottom: .85rem;
  border: 1px solid #3a3943;
}

#hamburger span:nth-child(1){
  width: 28px;
  margin-left: 1rem;
}

#hamburger span:nth-child(2){
  width: 38px;
  margin-left: .5rem;
}

#hamburger span:nth-child(3){
  width: 28px;
  margin-left: 1rem;
}

#menuClick{
  color: #3a3943;
  font-size: 19px;
  font-weight: 500;
  margin: 3.5rem 2rem 3rem 1.8rem;
}

#menuClick:hover{
  color: #daa520;
}

#phoneCall{
  color:#3a3943
  height: 100%;
  width: 20%;
  padding: 3.5rem 0 0 0rem;
  font-size: 19px;
  font-weight: 500;
}

#phoneCall:hover{
  color: #daa520;
  cursor: pointer;
  cursor: hand;
}

/* page title*/
#pageTitle{
  height: 100%;
  width: 50%;
  padding-top: 2.5rem;
  font-size: 40px;
}

#pageTitle img{
  height: 5.5rem;
  width: 5.5rem;
  margin-top: -1.7rem;
}

#pageTitle span{
  color: #3a3943;
  margin-left: 2rem;
}

/* residents button*/
#residents{
  color: #3a3943;
  margin-left: 5rem;
  height: 100%;
  width: 10%;
  padding: 3.5rem 2rem 0 0;
  font-size: 19px;
  font-weight: 500;
}

#residents:hover{
  color: #daa520;
  cursor: pointer;
  cursor: hand;
}

#applyNow{
  color: #3a3943;
  height: 100%;
  width: 10%;
  padding: 3.5rem .5rem 0 0;
  font-size: 19px;
  font-weight: 500;
}

#applyNow:hover{
  cursor: pointer;
  cursor: hand;
  color: #daa520;
}
