@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Catamaran:100,200,300,400,500|IM+Fell+French+Canon|Jaldi');
@import url('font-awesome.min.css');
@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');
@import url('navBar.css');
@import url('sideNav.css');
@import url('carousel.css');
@import url('firstRow.css');
@import url('secondRow.css');
@import url('thirdRow.css');
@import url('mapSection.css');
@import url('footer.css');
@import url('copyrightaccessibility.css');
@import url('mediaquery.css');
/*colors*/
/*yellow/gold = #daa520 */
/*gray/blue = #3a3943 */

body{
  overflow: auto;
}

/*main font*/
.catamaran{
  font-family: 'Catamaran', sans-serif;
  font-weight: lighter;
}
/*contact info and apertment info font*/
.abhaya{
  font-family: 'Abhaya Libre', serif;
}
/*lorem ipsum font*/
.imfell{
  font-family: 'IM Fell French Canon', serif;
}
/*contact form and copyright font*/
.jaldi{
font-family: 'Jaldi', sans-serif;
}
